.summary {
    padding-top: 16px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #363636;

    .summary-title {
        margin-bottom: 8px;
    }

    .summary-meta {
        color: #5d5d5f;
        font-size: 14px;

        .post-meta-author {
            a {
                font-size: 18px;
            }
        }
    }

    .summary-content {
        color: #5d5d5f;
        overflow: hidden;
        margin-top: 5px;
        width: 100%;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .summary-footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        a {
            color: #55bde2;
        }
    }
}