.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.wrapper main {
    flex: 1 0 auto;
    display: block;
}

.wrapper main .container {
    padding: 0 1rem;
}