.container-post {
    display: block;
    padding-top: 72px;
    margin: 0 auto;
    width: 60%;

    .toc {
        display: block;
        position: absolute;
        left: 0px;
        top: 160px;
        overflow-wrap: break-word;
        box-sizing: border-box;
        padding: 0 12px;
        border-left: 4px solid #363636;

        .toc-title {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 14px 0;
        }
    }

    @media only screen and (max-width: 960px) {
        #toc-auto {
            display: none;
        }
    }

    .post {
        position: relative;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;

        .post-title {
            margin: 16px 0 8px;
            font-size: 28px;
            font-weight: bold;
            line-height: 140%;
        }

        .post-meta {
            margin: 0 0 16px;

            .post-meta-line {
                color: #5d5d5f;
                font-size: 14px;

                .post-author {
                    font-size: 16px;
                }
            }
        }

        .post-content {
            @import '../_partial/_single/code';
        }

        .post-footer {
            margin-top: 48px;

            .post-info {
                border-bottom: 1px solid #363636;
                padding: 16px 0 5px;
                
                .post-info-line {
                    display: flex;
                    justify-content: space-between;

                    .post-info-modified {
                        color: #5d5d5f;
                        font-size: 12px;
                    }

                    .post-info-license {
                        color: #5d5d5f;
                        font-size: 12px;
                    }
                }
            }

            .post-nav {
                margin-top: 16px;
                display: block;

                a {
                    transition: all 0.3s ease-out;
                    font-weight: 600;
                    
                    &.prev {
                        float: left;
                    }

                    &.prev:hover {
                        transform: translateX(-4px);
                    }

                    &.next {
                        float: right;
                    }

                    &.next:hover {
                        transform: translateX(+4px);
                    }
                }

                &::before {
                    content: ' ';
                    display: table;
                }

                &::after {
                    content: ' ';
                    display: table;
                }
            }
        }
    }
}