.container-post {
    display: block;
    padding-top: 72px;
    margin: 0 auto;
    width: 100%;

    > .toc {
        display: block;
        position: absolute;
        left: 0px;
        top: 160px;
        overflow-wrap: break-word;
        box-sizing: border-box;
        padding: 0 12px;
        border-left: 4px solid #363636;

        .toc-title {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 14px 0;
        }

        .toc-content {
            font-size: 16px;

            ul {
                text-indent: -13.6px;
                padding-left: 12.8px;
                list-style: none;
            }

            > nav {
                > ul {
                    margin: 10px 0;

                    li {
                        a {
                            &::before {
                                content: "|";
                                font-weight: bolder;
                                margin-right: 8px;
                                color: #55bde2;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 960px) {
        #toc-auto {
            display: none;
        }
    }

    > .post {
        position: relative;
        max-width: 800px;
        width: 60%;
        margin: 0 auto;

        > .post-title {
            margin: 16px 0 8px;
            font-size: 28px;
            font-weight: bold;
            line-height: 140%;
        }

        > .post-meta {
            margin: 0 0 16px;

            > .post-meta-line {
                color: #5d5d5f;
                font-size: 14px;

                > .post-author {
                    font-size: 16px;
                }
            }
        }

        > .post-content {
            > h2 {
                font-size: 24px;

                & code {
                    font-size: 20px;
                }
            }

            > h3 {
                font-size: 22px;

                & code {
                    font-size: 18px;
                }
            }

            > h4 {
                font-size: 20px;

                & code {
                    font-size: 16px;
                }
            }

            > h5 {
                font-size: 18px;
            }

            > h6 {
                font-size: 16px;
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: bolder;
                margin: 19px 0;
            }

            > h2,
            > h3,
            > h4,
            > h5,
            > h6 {
                > .header-mark::before {
                    content: "|";
                    margin-right: 5px; 
                }
            }

            > h2 > .header-mark::before {
                content: "#";
            }

            p {
                margin: 8px 0;
            }

            b, strong {
                font-weight: bold;
                color: #ddd;;
            }

            a {
                overflow-wrap: break-word;
                color: #55bde2;
            }

            a:hover {
                color: #bdebfc;
            }

            ul, ol {
                margin: 8px 0;
                padding-left: 40px;
            }

            ul {
                list-style-type: circle;
            }

            .table-wrapper {
                overflow-x: auto;

                > table {
                    width: 100%;
                    max-width: 100%;
                    margin: 10px 0;
                    border-spacing: 0;
                    background: #272C34;
                    border-collapse: collapse;
                }
                
                thead {
                    background: #20252b;
                }

                th, td {
                    padding: 5px 16px;
                    border: 1px solid darken($color: #20252b, $amount: 2%);
                }
            }

            img {
                max-width: 100%;
                min-height: 64px;
            }

            @import '../_partial/_single/code';
        }

        .post-footer {
            margin-top: 48px;

            .post-info {
                border-bottom: 1px solid #363636;
                padding: 16px 0 5px;
                
                .post-info-line {
                    display: flex;
                    justify-content: space-between;

                    .post-info-modified {
                        color: #5d5d5f;
                        font-size: 12px;
                    }

                    .post-info-license {
                        color: #5d5d5f;
                        font-size: 12px;
                    }
                }
            }

            .post-nav {
                margin-top: 16px;
                display: block;

                a {
                    transition: all 0.3s ease-out;
                    font-weight: 600;
                    
                    &.prev {
                        float: left;
                    }

                    &.prev:hover {
                        transform: translateX(-4px);
                    }

                    &.next {
                        float: right;
                    }

                    &.next:hover {
                        transform: translateX(+4px);
                    }
                }

                &::before {
                    content: ' ';
                    display: table;
                }

                &::after {
                    content: ' ';
                    display: table;
                }
            }
        }
    }

    @media only screen and (max-width: 1440px) {
        .post {
            width: 56%;
        }
    }

    @media only screen and (max-width: 1200px) {
        .post {
            width: 52%;
        }
    }

    @media only screen and (max-width: 960px) {
        .post {
            width: 80%;
        }
    }

}