.footer {
    width: 100%;
    height: 32px;
    padding: 16px 0;
    text-align: center;
    line-height: 20px;
    color: #a9a9b3;

    .footer-container {
        font-size: 14px;

        .footer-line {
            font: {
                size: 15px;
                weight: 500;
            }
            width: 100%;
        }
    }
}
