header {
    width: 100%;
    z-index: 150;
    transition: box-shadow 0.3s ease;
    background: #252627;
}

// Desktop Header
#header-desktop {
    display: block;
    position: fixed;
    height: 56px;
    line-height: 56px;
}

.desktop {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 32px 0 10vh;

        .header-title {
            font-weight: bold;
            text-overflow: ellipsis;
            margin-right: 8px;
            min-width: 10%;
            height: 56px;
            overflow: hidden;
            flex: 10;
            cursor: pointer;

            a {
                font-size: 24px;
                align-items: center;
                justify-content: center;
            }
        }

        .header-menu {
            overflow: hidden;
            white-space: nowrap;

            .header-menu-inner {
                float: right;

                .header-menu-item {
                    margin: 0 8px;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #header-desktop .header-wrapper {
        padding-right: 16px;
        padding-left: 16px;
    }
}

// Mobile Header
#header-mobile {
    display: none;
    height: 56px;
    position: fixed;
    line-height: 56px;
}

@media only screen and (max-width: 680px) {
    #header-mobile{
        display: block;
    }
    #header-desktop {
        display: none;
    }
}

.mobile {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;

        .header-title {
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 8px;
            min-width: 10%;
            max-width: 80%;
            height: 56px;
            overflow: hidden;
            flex: 10;
            cursor: pointer;
            color: #a9a9b3;

            a {
                font-size: 24px;
                align-items: center;
                justify-content: center;
            }
        }

        .menu-toggle {
            color: #a9a9b3;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .header-menu {
        display: none;
        position: fixed;
        top: 56px;
        width: 100%;
        // box-shadow:  0.125rem 0.25rem rgba(0,0,0,0.1);
        border-top: 2px solid #363636;
        /* border-top-color: #363636; */
        background: #252627;
        padding-top: 8px;
        text-align: center;

        .header-menu-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            a {
                display: block;
                width: 100%;
                line-height: 40px;
                position: relative;
            }
        }
    }

    .header-menu.active {
        display: block;
    }
}
