.footer {
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    text-align: center;
    line-height: 1.25rem;
    color: #a9a9b3;
}

.footer-container {
    font-size: .875rem;
}

.footer-line {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.footer-line a {
    color: #a9a9b3;
    text-decoration: none;
}

.footer-line a:hover {

}
